<div class="modal-content">
            
                
        <!-- Modal body -->
        <div class="modal-body">
            <h1 align="center">Calendario</h1><br>
            <h4>Esta seguro que quiere eliminar el evento del calendario</h4>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
                <a type="submit" href="/inicio/admin/eliminareventoAux/{{id}}">
                
                    <button type="submit"  class="btn btn-danger">Eliminar <span></span></button>    
                
                </a>    
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        </div>
        
    </div>